div {
}

#container{
  width: 975px;
  height: 1000px;
  margin: 0 auto;
}

.left, .center, .right{
  float: left;
}

.left{
  width: 20%;
  background-color: #eeeeee;
}

.left h1{
  color: blue;
  font-weight: 400;
  text-align: center;
}

.left-sub{
  width: 85%;
  margin: 0 auto;
}

.left-sub div{
  margin-top: 8px;
  text-align: center;
}

.center{
  width: 68%;
}

.right{
  width: 11%;
  background-color: #eeeeee;
  text-align: center;
}

.right-item{
  border-bottom: 1px dashed black;
}

.title{
  color: black;
  font-family: sans-serif;
  background-color: #eeeeee;
  padding: 10px;
  font-weight: 600;
  text-align: center;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 25px;
  animation: fadeInUp 2s;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

#sub-title-container{
  width: 95%;
  margin: 0 auto;
}

.sub-title{
  display: inline-block;
  width: 28%;
  padding: 0 15px;
  text-align: center;
}

.sub-sub-title{
  color: blue;
  font-size: 16px;
  background-color: #eeeeee;
  font-weight: 600;
}

#community{
  transition: all .5s;
  cursor: pointer;
}

#community:hover{
  transform: scale(1.1) translateY(-3px)
}

@keyframes fadeInUp{
  0%{
    transform: translateY(20px);
    opacity: 0;

  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}


